.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.textarea {
    height: 80vh;
    width: 90vw;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.summary {
    width: 90vw;
    padding: 5px;
}